<h2>
  <%= link_to 'Borrowers', borrowers_path %>
  &rarr;
  Loans
</h2>

<h3>
  <span class="glyphicon glyphicon-user"></span>
  <%= @borrower.name %>
</h3>

<div class="row">
  <div class="col-md-6">
    <h5>Current Loans</h5>
    <%- if @borrower.books.any? %>
      <table class="borrower list">
        <thead>
          <tr>
            <th>Book</th>
            <th>Due</th>
            <th></th>
          </tr>
        </thead>
        <%- @borrower.books.each do |book| -%>
          <tr>
            <td>
              <%= book.title %>
            </td>
            <td>
              <%= book.due_on %>
            </td>
          </tr>
        <%- end -%>
      </table>
    <%- else -%>
      <p class="text text-warning">No current loans</p>
    <%- end -%>
  </div>

  <div class="col-md-6">
    <h5>Issue Books</h5>
    <%- if @borrower.available_books.any? -%>
      <%- @borrower.available_books.each do |book| -%>
        <p>
          <%= link_to 'Issue', issue_book_path(book, borrower_id: @borrower), class: 'action', method: :post %>
          <%= book.title %>
        </p>
      <%- end -%>
    <%- else -%>
      <p class="text text-warning">No books available to lend</p>
    <%- end -%>
  </div>

</div>
