<h2>
  Books
  <%= link_to 'New', new_book_path, class: 'btn btn-primary' %>
</h2>

<%- if query = params[:q] -%>
  <p>Results for "<%= query %>"</p>
<%- end -%>

<%- if @books.any? -%>
  <table class="book list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Due</th>
        <th></th>
      </tr>
    </thead>
    <%- @books.each do |book| -%>
      <tr>
        <td>
          <%= link_to book.title, edit_book_path(book) %>
        </td>
        <td>
          <%= book.author %>
        </td>
        <td>
          <%= book.on_loan? ? 'On Loan: '+book.borrower_name : 'On Shelf' %>
        </td>
        <td>
          <%= book.due_on %>
        </td>
        <td>
          <%= link_to 'Return', return_book_path(book), class: 'action', method: :post if book.on_loan? %>
        </td>
      </tr>
    <%- end -%>
  </table>
<%- else -%>
  <p class="text text-warning">No books found</p>
<%- end -%>
