<!DOCTYPE html>
<html>
<head>
  <title>CompsocLibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="menu">
    <li>
      <%= link_to_unless_current 'Books', books_path %>
    </li>
    <li>
      <%= link_to_unless_current 'Borrowers', borrowers_path %>
    </li>
  </ul>

  <div class="notice">
    <%= flash[:notice] %>
  </div>

<%= yield %>

</body>
</html>
