<!DOCTYPE html>
<html>
<head>
  <title>CompsocLibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= navbar do %>
    <%= navbar_header brand: 'Compsoc Library', brand_link: '/' %>
    <%= navbar_group do %>
      <%= navbar_item 'Books', books_path %>
      <%= navbar_item 'Borrowers', borrowers_path %>
    <%- end -%>
  <%- end -%>
  <div class="container">
    <%= content_tag :div, flash[:notice], class: 'notice' if flash[:notice] %>

    <%= yield %>
  </div>
</body>
</html>
