<!DOCTYPE html>
<html>
<head>
  <title>CompsocLibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'jquery-1.11.2' %>
  <%= javascript_include_tag 'jquery-ujs' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'navbar' %>

  <div class="container">
    <%= content_tag :div, flash[:notice], class: 'notice' if flash[:notice] %>

    <%= yield %>
  </div>
</body>
</html>
